body{
    background-color: black;
}

div{
    margin-top: 350px;
    text-align: center;
    color: white;
}

button{
    height: 40px;
    width: 80px;
    color: white;
    border: none;
    margin-left: 10px;
}

button:hover{
    transition: transform .5s;
    transform: scale(1.1);
    cursor: pointer;
}

.start-btn{
    background-color:rgb(40, 180, 110);
}

.pause-btn{
    background-color: rgb(118, 107, 119);
}

.restart-btn{
    background-color: red;
}